* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	/* adds animation for all transitions */
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}

/* Makes sure that everything is 100% height */
html,
body { 
	height: 100%;
	overflow: hidden;
}

/* gets the actual input out of the way; 
we're going to style the label instead */
#drawer-toggle { 
	position: absolute;
	opacity: 0;
}
