#drawer-toggle-label, #drawer, header, .page-content{ 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	/* adds animation for all transitions */
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}

html,
body {
}

#wide{ 
	display: none;
}
/* gets the actual input out of the way; 
we're going to style the label instead 
we're using the checkbox hack, we're removing the actual input from the flow by giving it absolute positioning and making it transparent.
*/
#drawer-toggle { 
	position: absolute;
	opacity: 0;
}

/*creates a floating container for the hamburger logo*/
#drawer-toggle-label { 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	left: 0px;
	top: 0px;
	height: 60px;
	width: 60px;
	display: block;
	position: fixed;
	background: rgba(255, 255, 255, .0);
	z-index: 1;
}

/*
We're using the :before pseudo-element to create the "hamburger" menu icon. The top line is the actual pseudo-element, and the bottom two are created using box-shadow.
*/
#drawer-toggle-label:before { 
	content: '';
	display: block;
	position: absolute;
	height: 2px;
	width: 26px;
	background: #8d8d8d;
	left: 17px;
	top: 20px;
	box-shadow: 0 7px 0 #8d8d8d, 0 14px 0 #8d8d8d;
}

header{ 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	height: 60px;
}

/*Here we go with the actual panes. We've got two; the content pane and the drawer pane. These styles apply to the "closed" menu state, so if you notice, the position of the #drawer is -250px (the negative equivalent of its width) to remove it from view.)*/	
#drawer { 
	position: fixed;
	top: 0;
	left: -250px;
	height: 100%;
	width: 250px;
	background: #2f2f2f;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
/* actual page content pane */
/*we make an extra container for the whole content pane, that is 100% width.
This makes sure that the whole pane moves to the right and a bit off the screen when the menu opens, rather than resizing the whole content for a smaller area.*/
.page-content { 
	width: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

/*****************************
 checked styles (menu open state)
 *****************************/

 /*The page content will get a white transparent overlay, to focus on the drawer.
 The other advantage is that if you press the white overlay, you actually uncheck the toggle and the menu closes!*/
#drawer-toggle:checked ~ #drawer-toggle-label { 
	height: 100%;
	width: calc(100% - 250px);
	background: rgba(255, 255, 255, .8);
}

#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header {
	-ms-transform: translate(250px); /* IE 9 */
	-webkit-transform: translate(250px); /* Safari */
	 transform: translate(250px);
}

#drawer-toggle:checked ~ #drawer {
	-ms-transform: translate(250px); /* IE 9 */
	-webkit-transform: translate(250px); /* Safari */
	transform: translate(250px);
}

#drawer-toggle:checked ~ .page-content {
  margin-left: 250px;
}
