/*  **********************
MOBILE HOME PAGE
*********************** */

.hero-image {
	height: 100vh;
	background-image: url(../img/varkentje.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 55% 66%;
	margin: 0;
}

.footer {
	display: none;
}



/*  **********************
ABOUT PAGE
*********************** */

.about {
	padding: 30px;
}

#profile-picture{
	display: block;
	margin: 0 auto 20px;
	height: 150px;
	border-radius: 50%;
}