<div  class="about">
    <%= image_tag "marie.jpg" %> 	
    <h3>About</h3>
    <p>
    Hi, my name is Marie Buysse. Welcome to my portfolio website. Around the turn of the year 2014 to 2015, I finally had saved up enough money for my own decent camera.
    Perfect timing, as I was to embark on many travels during 2015 and would get amazing opportunities to practice the art of photography. Pictures accumulated, and soon I needed to
    organize all of them. So why not do it here, where everyone can enjoy them. Have a look around, and give a shout if you like them! Hugs, Marie.
    Fusce id gravida augue. Maecenas scelerisque diam sodales odio posuere, a pellentesque nunc ultricies. Vivamus aliquam, nibh et rhoncus tincidunt, sem lectus iaculis nisl, id pretium velit justo a libero. Nam id iaculis ante, eget tempor felis. Vivamus auctor, dolor quis efficitur sollicitudin, nisi massa dapibus ante, at vestibulum elit sem vel erat. Nullam congue massa arcu, vehicula rhoncus enim rutrum placerat. Nulla elit tortor, efficitur gravida velit vel, varius blandit ligula. Integer diam justo, fringilla id pulvinar sit amet, rhoncus ac libero.

    Donec ac varius ipsum, a tristique mauris. Aliquam tristique quam nec risus cursus, ac rhoncus est consectetur. Donec dictum convallis urna, vel cursus nulla sollicitudin non. Proin nec eros non justo dapibus viverra. Ut non lobortis
    Fusce id gravida augue. Maecenas scelerisque diam sodales odio posuere, a pellentesque nunc ultricies. Vivamus aliquam, nibh et rhoncus tincidunt, sem lectus iaculis nisl, id pretium velit justo a libero. Nam id iaculis ante, eget tempor felis. Vivamus auctor, dolor quis efficitur sollicitudin, nisi massa dapibus ante, at vestibulum elit sem vel erat. Nullam congue massa arcu, vehicula rhoncus enim rutrum placerat. Nulla elit tortor, efficitur gravida velit vel, varius blandit ligula. Integer diam justo, fringilla id pulvinar sit amet, rhoncus ac libero.

    Donec ac varius ipsum, a tristique mauris. Aliquam tristique quam nec risus cursus, ac rhoncus est consectetur. Donec dictum convallis urna, vel cursus nulla sollicitudin non. Proin nec eros non justo dapibus viverra. Ut non lobortis
    </p>
</div>

