<div class="camera">
    <h1>Camera</h1>
    <h3>Body</h3>
    <%= image_tag "canon.jpg", class: "body-explanation" %> 	
    <p class="clearfix">
    I use a canon shlantilapantie, bought it in 2014 because of this and this. I like the stabilizer and the menus. It feels sturdy to me which is important when I'm out and have to pack this baby for long crazy busrides in Uganda or whatevaaa
    accumulated, and soon I needed to organize all of them. So why not do it here, where everyone can enjoy them. Have a look around, and give a shout if you like them! Hugs, Marie. Fusce id gravida augue. Maecenas scelerisque diam sodales odio posuere, a pellentesque nunc ultricies. Vivamus aliquam, nibh et rhoncus tincidunt, sem lectus iaculis nisl, id pretium velit justo a libero. Nam id iaculis ante, eget tempor felis. Vivamus 
    accumulated, and soon I needed to organize all of them. So why not do it here, where everyone can enjoy them. Have a look around, and give a shout if you like them! Hugs, Marie. Fusce id gravida augue. Maecenas scelerisque diam sodales odio posuere, a pellentesque nunc ultricies. Vivamus aliquam, nibh et rhoncus tincidunt, sem lectus iaculis nisl, id pretium velit justo a libero. Nam id iaculis ante, eget tempor felis. Vivamus 
    </p>
    <h3>Lenses</h3>
    <p>For now I use this one lens </p>
</div>
