<div class="gallery-index">
    <% if user_signed_in? %>
        <%= link_to "New gallery", new_gallery_path, class: "button black-hover" %>
    <% end %>
    <h1>Galleries</h1>
    <%= render @galleries %>
</div>

