@mixin inside-content{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 100px 3rem;
    max-width: 900px;
}
html, body, .container {
	height: 100%;
}

body, h1, h2, h3{
    font-family: Alice;
}

.hero-image {
	height: 100vh;
	background-image: url(varkentje.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 85% 66%;
	margin: 0;
}

.content {
    min-height: 100%;
}
.content{
    margin: 0 auto; 
    background-color: white;
}
.about{
    line-height: 1.25rem;
    img{
        width: 10rem;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
    h3{
        margin: 1.5rem auto 1rem;
        text-align: center;
    }
}
.gallery-index, .form, .gallery, .about, .devise-wrapper{
    @include inside-content;
}

.gallery-index{
    div.thumb-wrapper{
        float: left;
        width: 200px;
        height: 150px;
        background-size: cover;
    }
}

.form {
    li{
        float: left;
        width: 200px;
        & + li {
            margin-left: 20px;
        }
        img{
            width: 100%;
        }
    }
    img.thumb{
        width: 200px;
    }
}

$tile-width: 32%;
$tile-margin: (100% - (3 * $tile-width))/2;
.gallery{
    .grid[data-columns]::before{
        content: '3 .column.size-1of3'
    }
    .column{
        float: left;
        & + .column {
            margin-left: $tile-margin;
        }
    }
    .size-1of3{
        width: $tile-width;  
        img{
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}


/*********************
 * CLEARFIX 
 ********************/
.clearfix:after { 
content: ""; 
display: table; 
clear: both; 
}
