@mixin inside-content{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 100px 3rem;
    max-width: 900px;
}
html, body, .container {
	height: 100%;
}

body, h1, h2, h3{
    font-family: Alice;
}

.hero-image {
	height: 100vh;
	background-image: url(varkentje.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 85% 66%;
	margin: 0;
}

.content {
    min-height: 100%;
}
.content{
    margin: 0 auto; 
    background-color: white;
}
.about{
    @include inside-content;
    line-height: 1.25rem;
    img{
        width: 10rem;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
    h3{
        margin: 1.5rem auto 1rem;
        text-align: center;
    }
}
.gallery-index, .form, .gallery{
    @include inside-content;
}

.form {
    li{
        float: left;
        width: 200px;
        & + li {
            margin-left: 20px;
        }
        img{
            width: 100%;
        }
    }
}

.gallery{
    li{
        float: left;
        width: 45%;
        margin-bottom: 1.5rem;
        img{
            width: 100%;
        }
        &:nth-child(2n){
        margin-left: 5%;
        }
    }
}

/*********************
 * CLEARFIX 
 ********************/
.clearfix:after { 
content: ""; 
display: table; 
clear: both; 
}
